@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#aboutBanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/aboutBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

#aboutMain,
#vision {
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

#aboutH1,
#visonH2 {
    color: #D4A741;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
}

#aboutPara {
    text-align: justify;
}

#aboutH1:after,
#aboutH1:before,
#visonH2:after,
#visonH2:before {
    content: " ";
    display: block;
    border-bottom: 3px solid #D4A741;
}

.aboutRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.aboutCol {
    height: 300px;
    width: 300px;
    margin: 10px;
    padding: 40px;
}

.aboutImg {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cardPara {
    text-align: center;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .aboutCol {
        height: 200px;
        width: 200px;
        margin: 10px;
        padding: 0;
    }

}