* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


#servicesBanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/servicesBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

#servicesWelcome,
#homeCare,
#interiorDesign,
#landscape {
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

#servicesH1,
#homeCareH2,
#interiorDesignH2,
#landscapeH2 {
    color: #D4A741;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
}

#landscapeH2:after,
#landscapeH2:before,
#servicesH1:after,
#servicesH1:before,
#homeCareH2:after,
#homeCareH2:before,
#interiorDesignH2:after,
#interiorDesignH2:before {
    content: " ";
    display: block;
    border-bottom: 3px solid #D4A741;
}

#servicesH2 {
    text-align: center;
    font-size: 18px;
    color: rgb(56, 56, 56);
}

#servicesPara1 {
    text-align: center;
}

.homeCareH3 {
    margin-top: 10px;
    color: #D4A741;
}

.homeCarePara,
#interiorDesignPara,
#landscapePara {
    margin: 10px 0;
    text-align: justify;
}